<%- include('partials/header'); -%>

<header>
  <div class="headings">
    <h1 style="margin-bottom: 20px;">My Account</h1>

    <p>Modify this page as a protected route for app functionality and use as a basis for new pages.<br> Uncomment
      requireAuth in app.js to make it protected and require user auth check with JWT verification.</p>
  </div>
</header>

<%- include('partials/footer'); -%>