<%- include('partials/header'); -%>

<header>
  <div class="headings">
    <h2>Node / MongoDB / JWT Template</h2>
    <h3>Starter for Projects</h3>
    <p>Supports Signup/Login functionality using JWT and storage within a MongoDB Atlas Cluster. <br>Modify Models, Controllers, and Middlewares to adjust for other projects as needed but signup/login would stay roughly the same.</p>
    <a href="/account" class="btn">My Account</a>
  </div>
</header>


<%- include('partials/footer'); -%>